.body{
    pointer-events: auto;
    background: url('./assets/Coding-Challenge-Image.png') no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}

.left-bk{
    pointer-events: auto;
    background-color: #611818;
    width: 25vw;
    height:100vh;
    z-index: -1;
}

.text{
    top:51%;
    left: 9.5%;
    z-index: 1;
}

.text h1{
    color:white;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 8em;
    font-weight: bold;    
}

.text h2{
    color: white;
}

.text h2 img{
    width: 1em;
    fill:white;
    top:1%;
}

.text-with-box{
    pointer-events: auto;
    opacity: 0;
    color:#611818;
    width: 510px;
    height: 600px;
    top: 20%;
    left: 9%;
    background-color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-with-box.active{
    opacity: 1;
    transform: translate(-3%,-2%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.text.close{
    opacity: 0;
}

.text-with-box h2{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 3em;
    font-weight: bold; 
}

.text-with-box hr{
    background-image: linear-gradient(to right,#611818,white);    
    height: 4px;
    width: 80%;    
}

.read-more{
    width: 235px;
    height: 55px;
    padding: 10px;
    background-image: linear-gradient(to right,#611818,#A36754);
    color: white;
}

.close-btn{
    font-size: 1.5em;
    position: absolute;
    right:3%;
    top: 2%;
    cursor: pointer;
}

.read-more:active{
    background-color: black;
}

.btn{
    color:white
}

.hit-detail{
    z-index: 2;
}

.hit-detail:hover{
    cursor: pointer;
}

.more-detail-btn{
    background-color: none;
}





