.body{
    pointer-events: auto;
    background: url('./assets/Coding-Challenge-Image.png') no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}

.left-bk{
    pointer-events: auto;
    background-color: #611818;
    width: 21vw;
    height:100vh;
    z-index: -1;
}

.text{
    top:51%;
    left: 9.5%;
    z-index: 1;
}

.text h1{
    color:white;
    font-family: Optima, sans-serif;
    font-size: 9vw;
    font-weight: bold;
    animation: 2s ease-in 1ms reverse both running bounce-2;
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.text h2{
    color: white;
}

.text h2 img{
    width: 1em;
    fill:white;
    top:1%;
}

.text-with-box{
    pointer-events: auto;
    opacity: 0;
    color:#611818;
    width: 510px;
    height: 600px;
    top: 20%;
    left: 9%;
    background-color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 1s linear opacity 100ms;
    transform-origin: top right;
    transform-style: preserve-3D;
    transform: scale(0.1);
}

.text-with-box.active{
    opacity: 1;
    transition: transform 0.5s linear;
    transform-origin: bottom left;
    transform-style: preserve-3D;
    transform: scale(1);
    transition: transform 700ms cubic-bezier(0.18,0.89,0.43,1.19) opacity 100ms;
}

.text-with-box p{
    font-size: 14px;
    line-height: 2;
}

.text.close{
    transition: transform 2s linear;
    opacity: 0;
}

.text-with-box h2{
    font-family: Optima, sans-serif;
    font-size: 3em;
    font-weight: bold; 
}

.text-with-box>hr{
    background-image: linear-gradient(to right,#611818,white);    
    height: 10px;
    width: 80%;    
}

.read-more{
    width: 235px;
    height: 55px;
    padding: 10px;
    background-image: linear-gradient(to right,#611818,#A36754);
    color: white;
}

.close-btn{
    font-size: 1.5em;
    position: absolute;
    right:3%;
    top: 2%;
    cursor: pointer;
}

.read-more:active{
    background-color: black;
}

.btn{
    color:white
}

.hit-detail{
    z-index: 2;
}

.hit-detail:hover{
    cursor: pointer;
}

.social-icon{
    position: absolute;
    right:5%;
    bottom: 4%;
}

.icon{
    display: flex;
    flex-direction: column;
}

.icon img{
    padding: 4px;
    width: 70px;
    height: 70px;
}


@media screen and (max-width: 600px) {
    .text h1{
      font-size: 20vw;
    }

    .text-with-box{
        width: 100vw;
        height: 100vh;
        top:0%;
        right:0%;
    }

    .close-btn{
        right:14%;
        top: 3%;
    }

    .icon{
        display:none;
    }
  }

  







